<html>
<head>
<title>{% block title %}Vlad CMS{% endblock %}</title>
<link href="/template/main.css" rel="stylesheet" type="text/css">
{% block include_css %}{% endblock %}
{% block rss %}
<!-- 
<link rel="alternate" type="application/rss+xml" title="Impossible World community posts" href="rss/posts" />
<link rel="alternate" type="application/rss+xml" title="Impossible figures" href="rss/cube" />
 -->
{% endblock %} 
</head> 


<body>

<script src="/template/main.js" type="text/javascript"></script>
{% block include_js %}{% endblock %}

 
{% block page_top %}

<table border="0" width="100%" cellspacing="0" cellpadding="0" class="page-top">
<tr>
<td class="heading-left" rowspan="2" height="133" width="325">
<a href="/"><img src="/template/logo-blue.png" border="0" style="margin-left:20"/></a> 
</td>

<!-- User login area -->
<td class="heading-login" valign="top">
  	<div class="login">
    	<b>{{ user_info.user_name }}</b>
		{% if user_info.admin %}
  			(admin)
		{% endif %} 

		{% if user_info.banned %}
  			(banned)
		{% endif %}      
      
		<a href="{{ user_info.login_url }}">{{ user_info.login_url_text }}</a>
	</div>

</td>
</tr>
<tr>
<td align="right" valign="middle" style="padding-right:20">

<img src="/template/test-banner.gif" />

</td>
</tr>
</table>

{% endblock %}

<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tr>
  <td valign="top">
    <div class="header">
      {% block header %}{% endblock %}
    </div>
   
    <div class="content">
      {% block content %}{% endblock %}
    </div>  
  </td>
  
  <td valign="top" class="user-menu-cell">
    <div class="user-menu">
      {% if user_info %}
        <div class="user-menu-panel">
        {% block user_menu %}

        
          <div class="user-menu-command"><a href="{{ user_info.url_my_cubic_figures }}"><b>My cubic figures</b></a></div>
          <div class="user-menu-command"><a href="{{ user_info.url_create_cubic_figure }}">Create figure</a></div>
          <div class="delimiter"></div>
          <div class="user-menu-command"><a href="/cube/figures/all">All cubic figures</a></div>

       {% endblock %}
       </div>
     {% endif %}
     
     {% if user_info.author %}
       <div class="user-menu-panel">
         {% block author_menu %}
         <div class="user-menu-command"><a href="/author/page/edit">Add new page</a></div>
         {% endblock %}
       </div>
     {% endif %}
     
     {% if user_info.admin %}
       <div class="user-menu-panel">
         {% block admin_menu %}
         <div class="user-menu-command"><a href="/admin">Administration</a></div>
         {% endblock %}
       </div>
     {% endif%}
     
     
</div>  
  </td>
</tr>
</table>


{% block page_bottom %}
<div class="footer">
&copy; Idea and design by Vlad Alexeev, 2009 | <a href="/privacy">Privacy policy</a>

{% if config.show_analytics %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-1090948-6");
pageTracker._trackPageview();
} catch(err) {}</script>
{% endif %}
</div>

{% endblock %}
</body>
</html>