{% extends "template.html" %}


{% block include_css %}
<link href="/template/main.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block include_js %}
<script src="/template/main.js" type="text/javascript"></script>
{% endblock %}

 
{% block user_login %}
<b>{{ user_info.user_name }}</b>
    	
{% for group in user_info.groups %}{% if forloop.first %}({% endif %}{{ group }}{% if forloop.last %}){% else %},{% endif %}{% endfor %}
		<a href="{{ user_info.login_url }}">{{ user_info.login_url_text }}</a>
{% endblock user_login %}


{% block header %}{% endblock %}

{% block content %}{% endblock %}


{% block side_menu %}
{{ block.super }}

     {% if user_info.author %}
       <div class="user-menu-panel">
         {% block author_menu %}
         <div><a href="/author/page/edit">Add new page</a></div>
         {% endblock %}
       </div>
     {% endif %}

     {% if user_info.moderator %}
       <div class="user-menu-panel">
         {% block moderator_menu %}
         <div><a href="/moderator/comments">Recent comments</a></div>
         <div><a href="/moderator/bannedusers">Banned users</a></div>
         {% endblock %}
       </div>
     {% endif%}
     
     {% if user_info.admin %}
       <div class="user-menu-panel">
         {% block admin_menu %}
         <div><a href="/admin">Administration</a></div>
         {% endblock %}
       </div>
     {% endif%}

{% endblock side_menu %}
  


{% block page_bottom %}
{{ block.super }}
{% endblock %}
