* {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

body {
	background-color: white;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-family:Verdana,Arial,sans-serif;
	font-size:10pt;
}

.page-head {
	background-color: #fff7d2;
	border-bottom: solid #ffb380 1px;
}

.page-center {
}

body p {
	margin-top:0;
	margin-bottom:5;
}

.login {
	margin: 5 5 5 5;
	text-align: right;
}

.header {
	color: #f98e47;
	background-color: #fffae3;
	padding:5 50 5 50;
	font-size: 16pt;
	font-weight: bold;
}


.heading {
	background-color:#eff6ff;
	border-style:solid;
	border-width:1;
	border-color:#6C9CE4;
	text-align:center;
	vertical-align:middle;
	color:#6C9CE4;
	font-size:24pt;
	font-weight:bold;
	margin: 5 5 5 5;
	padding: 10 10 10 10
}

.heading-left {
	height:133px;
	width:325px;
}

.heading-login {
	height:25px;
	text-align:left;
	padding:0 0 0 0;
	border-width: 0px;
	font-size: 10pt;
}

.content {
	font-size:10pt;
	padding: 5 50 5 50;
}

.content h1 {
	color: #3376DB;
	font-size: 16pt;
	text-align: center;
}

.content h2 {
	color: #3376DB;
	font-size: 14pt;
	text-align: center;
}

.content form div {
	margin-top: 10px;
}

.content-cell {
}

.content .all-commands {
	margin-top:10pt;
	text-align: center;
}

.user-menu-cell {
	width: 150;
	display: table-cell;
}

.user-menu {
  margin: 5 5 5 5;
  width: 150;
  float: right;
  font-size: 10pt;
}

.user-menu-panel {
  border: solid #ffb380 1px;
  background-color:#fff7d2;
  padding: 5 5 5 5;
  margin: 5 5 5 5;
}

.user-menu-command {
}

.delimiter {
	background-color: #ffb380;
	height: 2px;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:20%;
	margin-right:20%;
	font-size: 1;
}

.delimiter-full {
  background-color: #bfaf66;
  height: 2px;
  margin-top:10px;
  margin-bottom:10px;
  font-size: 1;
}


.footer {
	font-size:10pt;
	margin-top: 10;
	padding: 5 5 5 5;
	text-align:center;
	background-color: #fff7d2;
	border-top: solid #ffb380 1px;
}



.table-common {
	background-color:#ffb380;
	font-size:10pt;
}

.table-common td {
	background-color:#ffffff;
	padding: 2 2 2 2;
	text-align: left;
}

.table-common th {
	background-color:#fff7d2;
	padding: 2 2 2 2;	
	font-weight: bold;
	text-align:center;
}

.content table {
	font-size: 10pt;
}



/*
Dialog css
*/
.dialog-header {
	/*position: absolute;
	display:none;*/
	height: 24px;
	background-color:#ffb380;	
}

.dialog-header-content {
  padding: 2 2 2 2;
  
  border-top: solid #ffb380 1px;
  border-left: solid #ffb380 1px;
  border-right: solid #ffb380 1px;
  font-size: 12pt;
  font-family: Verdana, Arial, sans-serif;
  color: white;
}

.dialog-frame {	
	/*position: absolute;
	display:none;*/
}

.dialog-frame-content {
  background:#fff7d2;
  padding: 2 2 2 2;
  border-bottom: solid #ffb380 2px;
  border-left: solid #ffb380 2px;
  border-right: solid #ffb380 2px;	
}

.dialog-frame-content div {
	margin: 5 5 5 5;
}
