<html>
<head>
<title>{% block title %}Vlad CMS{% endblock %}</title>
{% block include_css %}{% endblock %}
{% block rss %}
<!-- 
<link rel="alternate" type="application/rss+xml" title="Impossible World community posts" href="rss/posts" />
<link rel="alternate" type="application/rss+xml" title="Impossible figures" href="rss/cube" />
 -->
{% endblock %} 
</head> 


<body>

{% block include_js %}{% endblock %}

 
<table border="0" width="100%" cellspacing="0" cellpadding="0" class="page-top">
<tr>
<td class="heading-left" rowspan="2" height="133" width="325">
<a href="/"><img src="/template/logo-blue.png" border="0" style="margin-left:20"/></a> 
</td>

<!-- User login area -->
<td class="heading-login" valign="top">
  	<div class="login">
  	  {% block user_login %}
  	  {% endblock %}
	</div>

</td>
</tr>
<tr>
<td align="right" valign="middle" style="padding-right:20">

<img src="/template/test-banner.gif" />

</td>
</tr>
</table>


<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tr>
  <td valign="top">
    <div class="header">
      {% block header %}{% endblock %}
    </div>
   
    <div class="content">
      {% block content %}{% endblock %}
    </div>  
  </td>
  
  <td valign="top" class="user-menu-cell">
    <div class="user-menu">
      {% block side_menu %}
      {% endblock %}    
    
      {% if user_info %}
        {% block user_menu %}
        {% endblock %}
      {% endif %}
 
     
</div>  
  </td>
</tr>
</table>


{% block page_bottom %}
<div class="footer">
&copy; Idea and design by Vlad Alexeev, 2009 | <a href="/privacy">Privacy policy</a>
</div>
{% endblock %}
</body>
</html>