{% extends "core-base.html" %}

{% block header %}
Banned users
{% endblock %}

{% block content %}


<table class="table-common" cellspacing="1" cellpadding="0" align="center">
<tr>
  <th>id</th>
  <th>E-mail</th>
  <th>Nickname</th>
  <th>User groups</th>
  <th>Actions</th>
</tr>

{% for user in users %}
<tr>
  <td>
    {{user.key.id}}
  </td>
  <td><a href="/admin/user/profile?key={{ user.key }}">{{ user.user.email }}</a></td>
  <td>{% if user.nickname %}{{ user.nickname }}{% endif%}</td>
  <td>
    {% for group in user.groups %}
      {{ group }}{% if not forloop.last %},{% endif %}
    {% endfor %}
  </td>
  <td>
    <a href="/moderator/user/unban?key={{ user.key }}">Unban</a>
  </td>
</tr>
{% endfor %}
</table>

{% endblock content %}